@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #111;
    font-family: "Open Sans", sans-serif;
}

nav .fas{
    display: none;
}
ul, li {
    margin: 0;
    padding: 0.2rem;
    list-style: none;
    text-decoration: none;
  }
  


  header {
    background-color: #111; 
    color: #fff; 
    padding: 10px 0; 
  }
  
  nav ul {
    display: flex; 
    justify-content: left; 
  }
  
  nav li {
    margin-left: 85px; 
    margin-top: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none; 
    font-weight: normal; 
    font-size: 15px;
  }
  
 
  nav a:hover {
    text-decoration: underline;
  }
  
  hr {
    border: 0;
      height: 1px; 
      background-color: #ffffff;
      margin: 20px 0;
  }


html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


section{
    padding: 70px 0;
}
section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    color: white;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 160px;
    height: 3px;
    background: #00804b;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: #000000;
    color: #00804b;
    padding: 5px;
    transform: translateX(-50%);
}
.about{
    font-family: 'Roboto', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}
.about .about-content .right .text span{
    color: #00804b;
}
.about .about-content .right p{
    text-align: justify;
    color: white;
}
.about .about-content .right a{
    display: inline-block;
    background:  #00804b;
    color: #fff;
    font-size: 15px;
    font-weight: 490;
    padding: 10px 12px;
    margin-top: 20px;
    border-radius: 6px;
    
    transition: all 0.3s ease;
}

.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}


@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    
}
